/* =====================================================
   METEOR CONTAINER
===================================================== */

#meteors {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    overflow: visible;

    pointer-events: none;

    z-index: 9999;
}


/* =====================================================
   METEOR
===================================================== */

.meteor {
    position: absolute;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: white;

    z-index: 99999;

    pointer-events: none;

    box-shadow:
        0 0 8px white,
        0 0 18px white,
        0 0 30px #ffb5ed,
        0 0 50px #ff38bd;

    transform: rotate(34deg);
}


/* =====================================================
   METEOR TRAIL
===================================================== */

.meteor::before {
    content: "";

    position: absolute;

    right: 4px;
    top: 3px;

    width: 700px;
    height: 6px;

    border-radius: 999px;

    background:
        linear-gradient(
            to left,
            white 0%,
            rgba(255, 255, 255, 0.95) 8%,
            rgba(255, 190, 240, 0.8) 30%,
            rgba(255, 80, 205, 0.45) 60%,
            transparent 100%
        );

    box-shadow:
        0 0 8px white,
        0 0 20px rgba(255, 80, 210, 0.7);

    filter: blur(1px);
}


/* =====================================================
   METEOR GLOW
===================================================== */

.meteor::after {
    content: "";

    position: absolute;

    left: -5px;
    top: -5px;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    background: white;

    box-shadow:
        0 0 10px white,
        0 0 25px #ffb5ed,
        0 0 45px #ff38bd;

    opacity: 0.9;
}
