@keyframes meteorFly {

    /*
        Start completely invisible
        and far above the screen.
    */

    0% {
        transform: translate(0, 0) rotate(46deg);
        opacity: 0;
    }

    /*
        Fade in BEFORE reaching
        the visible area.
    */

    12% {
        opacity: 0.35;
    }

    20% {
        opacity: 1;
    }

    /*
        Smooth glide through screen.
    */

    85% {
        opacity: 1;
    }

    /*
        Leave completely.
    */

    100% {
        transform:
            translate(
                100vw,
                calc(100vh + 1000px)
            )
            rotate(46deg);

        opacity: 0;
    }
}
